name: Robot Framework Tests Docker

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  robot-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Make test script executable
        run: chmod +x run_tests_docker.sh

      - name: Run test script
        run: ./run_tests_docker.sh

      - name: Upload Robot test results
        uses: actions/upload-artifact@v4
        with:
          name: robot-results
          path: results/
